* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  margin: 0;
  padding: 0;
}

p {
  text-wrap: pretty;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 269 0% 100%;
    --foreground: 269 73% 2%;
    --muted: 89 24% 92%;
    --muted-foreground: 89 10% 37%;
    --popover: 269 60% 97%;
    --popover-foreground: 269 73% 1%;
    --card: 269 60% 97%;
    --card-foreground: 269 73% 1%;
    --border: 269 15% 88%;
    --input: 269 15% 88%;
    --primary: 187.06 68% 90.2%;
    --primary-foreground: 30 18.75% 25.1%;
    --secondary: 109.71 64.81% 78.82%;
    --secondary-foreground: 173.79 87.88% 19.41%;
    --accent: 89 67% 37%;
    --accent-foreground: 0 0% 100%;
    --destructive: 16 94% 22%;
    --destructive-foreground: 16 94% 82%;
    --ring: 269 67% 37%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 269 53% 0%;
    --foreground: 269 10% 99%;
    --muted: 89 24% 8%;
    --muted-foreground: 89 10% 63%;
    --popover: 0 0% 1%;
    --popover-foreground: 0 0% 100%;
    --card: 0 0% 1%;
    --card-foreground: 0 0% 100%;
    --border: 269 15% 11%;
    --input: 269 15% 11%;
    --primary: 269 67% 37%;
    --primary-foreground: 269 67% 97%;
    --secondary: 89 67% 37%;
    --secondary-foreground: 0 0% 100%;
    --accent: 89 67% 37%;
    --accent-foreground: 0 0% 100%;
    --destructive: 16 94% 57%;
    --destructive-foreground: 0 0% 0%;
    --ring: 269 67% 37%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
:root {
  --white: #ffffff;
  --blue: #30e1a0;
  --dark-gray: #494949;
  --black: #262626;
}
